HAILO_BACKEND=hailo
HAILO_MODEL_PATH=/opt/hailo-detectord/models/frigate-plus-hailo8.hef
HAILO_MODEL_METADATA_PATH=/opt/hailo-detectord/models/frigate-plus-hailo8.json
HAILO_CONFIDENCE_THRESHOLD=0.35
HAILO_BBOX_ORDER=yxyx
HAILO_INPUT_PIXEL_FORMAT=rgb
